.botao{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 8px 0;
}

.botao:hover{
    color: #95FFD4
}